# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Dr KETTANI\OneDrive\Bureau\Lyna\Polymtl\2eme session\C++\LABS\Lab2\TD2_H23_Lyna_Emilia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
